<template>
	<div>
		<PostPreview :post="project"/>
	</div>
</template>
<style scoped>

</style>
<script>
	export default{
    middleware: 'public',
		props:['slug'],
		computed:{
			project(){
					return this.$store.state.project;
			}
		},
		methods:{
			getPost(){
				return this.$store.commit('getProject', this.$route.params.slug)
			}
		},
		mounted(){
			this.getPost();
		},
		head(){
					return {
						title: this.$route.params.slug.replace(/-/g, " ").replace(/\b\w/g, l => l.toUpperCase())+' - '+this.$store.state.customdata.fullName,
						meta: [
						{ hid: 'og:image', property: 'og:image', content: this.project.image }
						]
					}
		}


	}
</script>
