<template>
	<div :class="$style.siteWrapper">
		<!-- <MainHeading title="Projects" :subtitle="content" :height="20"/> -->
		<PostList :posts="allWorks" name="projects" :hasDesc="true"/>
		<Contact message="If you want to know about my project. Just leave me a message"/>
	</div>
</template>
<style module>
	.siteWrapper{
		@apply flex flex-col min-h-screen
	}
</style>
<script>
	export default {
		middleware: 'public',
		layout: 'post',
		data(){
			return {
				title: this.$store.state.customdata['fullName'],
				content: 'My collection of personal projects that I worked on'
			}
		},
		computed:{
		allWorks(){
        return this.$store.state.projects
      	},

		},
		head(){
			return {
				title: 'Projects - '+this.title,
				meta: [
        		{ hid: 'description', name: 'description', content: this.content }
     			]
			}
		}
	}
</script>
<style scoped>
</style>
