<template>
  <div>
    <div :class="$style.about">
      <div :class="$style.container">
        <div :class="$style.containerGrid">
            <div :class="$style.firstContent">
              <div :class="$style.displayProfile">
                <div :class="$style.displayCover"></div>
                <div :class="$style.displayPhoto">
                  <div :class="$style.icon">
                    <fa
                      :icon="{ prefix: 'fas', iconName: 'phone-alt' }"
                      @click="onContact('tel')"
                    />
                  </div>
                  <transition name="fade">
                    <div :class="$style.bubble" v-if="$store.state.validate">
                      <div v-text="$store.state.validate"></div>
                    </div>
                  </transition>
                  <div
                    :class="$style.profile"
                    :style="{
                      'background-image': 'url(' + about.picture + ')'
                    }"
                  ></div>
                  <div :class="$style.icon">
                    <fa
                      :icon="{ prefix: 'fas', iconName: 'comment' }"
                      @click="onContact('sms')"
                    />
                  </div>
                </div>
                <div :class="$style.displayName">
                  <h1>{{ about.fullName }}</h1>
                  <client-only>
                    <vue-typer
                      :class="$style.typer"
                      :text="about.position"
                      :repeat="Infinity"
                      erase-style="backspace"
                      :erase-delay="100"
                    >
                    </vue-typer>
                  </client-only>
                </div>
                <SocialLink />
                <tabs>
                  <tab name="Contact" :selected="true">
                     <div :class="$style.details">
                     <div :class="$style.info">
                            <fa :icon="{ prefix: 'fas', iconName: 'envelope' }" />
                            <p>marckevinflores@gmail.com</p>
                        </div>
                          <div :class="$style.info">
                            <fa :icon="{ prefix: 'fas', iconName: 'mobile' }" />
                            <p>(+63) 9092884082</p>
                        </div>
                     </div>
                  </tab>
                  <tab name="Info">
                     <div :class="$style.details">
                    <div :class="$style.info">
                            <fa :icon="{ prefix: 'fas', iconName: 'language' }" />
                            <p>Filipino, English</p>
                        </div>
                          <div :class="$style.info">
                            <fa :icon="{ prefix: 'fas', iconName: 'globe-asia' }" />
                            <p>Caloocan City, Philippines</p>
                        </div>
                     </div>
                  </tab>
                </tabs>
              </div>
            </div>

          <div>
            <div :class="$style.secondContent">
              <h3 :class="$style.title">About Myself</h3>
              <div
                :class="$style.textDetails"
                v-html="about.description"
                @copy="onCopy"
              ></div>
              <div>
                <AppButton @click="download" btn-style="primary"
                  ><fa :icon="{ prefix: 'fas', iconName: 'file' }" size='lg' /> My Resume</AppButton
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      activetab: '1',
      contact: {
        name: "",
        email: "",
        message: ""
      },
      headers: ["Contact", "Info"],
      details: [
        {
          list: [
            {
              icon: "envelope",
              text: "marckevinflores@gmail.com"
              // text: "contact@marckevinflores.dev"
            },
            {
              icon: "mobile",
              text: "(+63) 9092884082"
            }
          ]
        },
        {
          list: [
            {
              icon: "language",
              text: "Filipino, English"
            },
            {
              icon: "globe-asia",
              text: "Caloocan City, Philippines"
            }
          ]
        }
      ]
    };
  },
  computed: {
    about() {
      return this.$store.state.customdata;
    }
  },
  mounted() {
    const self = this;
    this.showMessage("Hello visitor! Welcome to my world of codings.");
    // this.$nextTick(()=>{
    //     const el = document.getElementsByClassName(self.$style.displayProfile)[0];
    //     const lastScroll = 288;
    //     window.addEventListener("scroll", function() {
    //       if(lastScroll >= window.pageYOffset && window.innerWidth >= 768) {
    //           el.style.marginTop = (window.pageYOffset -288) + "px";
    //       }
          
    //     }, false)
    //     // window.addEventListener("resize", function() {
    //     //   if(window.innerWidth <= 768){
    //     //     el.style.marginTop = '0px';
    //     //   }
    //     // }, true)
      // })
  },
  methods: {
    showMessage(message) {
      this.$store.commit("validate", message);
    },
    download() {
      window.open(this.about.fileUrl, "Download");
      this.showMessage("You can see all my details in my resume");
      this.$store.dispatch('addPeek', 'file');
    },
    onCopy(e) {
      this.showMessage("Sorry, you can't copy my about details");
      e.preventDefault();
      return false;
    },
    onContact(type) {
      window.location.href = type + ":+639092884082";
    }
  }
};
</script>
<style>

</style>
<style module>
.typer {
  font-size: 1.3em;
}
.typer .custom.char.typed {
  color: #666 !important;

}
.containerGrid{
  @apply grid gap-1 grid-cols-1
}
@screen md{
  .containerGrid{
    @apply grid-cols-2
  }
}
.container{
  @apply px-4 mx-auto w-full max-w-6xl
}
.title{
  @apply text-2xl my-5 text-gray-900
}
@screen lg {
}
.about {
  @apply justify-center text-center pb-16 px-0 bg-white relative
}
.firstContent {
  @apply w-full bg-transparent shadow-none border-b-2 rounded-2xl
}
.displayName {
  @apply hidden
}
.displayProfile {
  margin-top: -30%;
  @apply relative
}
.displayCover {
  @apply hidden h-56 bg-gray-800
}
.displayPhoto {
  margin-top: -25%;
  @apply flex w-full flex-row justify-around
}
.profile {
  @apply h-48 w-48 rounded-full text-center m-auto bg-cover bg-center border-2 border-gray-300
}
.details {
  @apply text-left block py-2 px-16
}
.details .info {
  @apply py-4 px-0 text-gray-900 text-lg
}
.details .info p {
  @apply inline-block text-gray-900
}
.icon {
  @apply cursor-pointer text-gray-100 w-16 h-16 rounded-full text-4xl m-auto shadow-2xl bg-gray-800
}
.icon:hover {
  @apply bg-blue-600
}
.icon svg{
  @apply mt-3
}

.bubble {
  top: 5px;
  @apply hidden bg-white rounded-full py-3 px-6 h-auto p-2 w-64 absolute
}

.bubble:after {
  content: "";
  border-style: solid;
  border-width: 19px 15px 0;
  border-color: #fff transparent;
  bottom: -10px;
  left: 110px;
  @apply absolute block z-10 
}
.textDetails {
  @apply text-justify my-0 mx-4 text-lg leading-7 text-gray-900 mb-5
}
  .secondContent{
    @apply block mt-12
  }
@screen sm {
  .displayProfile{
    margin-top: -40%
  }
}
@screen md {
  .secondContent{
    @apply block mt-0
  }
  .displayCover {
    @apply block
  }
  .firstContent {
    @apply bg-white shadow-2xl border-0
  }
  .bubble {
    @apply block
  }
}
/* @media (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .details .info {
    display: block;
    margin: auto;
  }
} */
/* @media (max-width: 1023px) {
  .container {
    width: 100%;
  }
  .firstContent {
    width: auto;
  }
  .icon {
    margin-bottom: 2.5em;
  }
  .info {
    text-align: left;
  }
  .info .svg-inline--fa {
    display: block;
    margin: auto;
  }

} */
/* @media (max-width: 767px) {
  .displayProfile {
    margin-top: -40% !important;
  }
  .firstContent {
    box-shadow: none;
    background: transparent;
  }
  .secondContent{
    display:block;
  }
  .bubble {
    display: none;
  }
  .displayName {
    display: block;
  }
  .typer {
    display: block;
  }
  .displayCover {
    display: none;
  }
  .displayName h1 {
    font-size: 2em;
    margin: 0;
  }
  .details {
  padding: 1.2em;
  }
} */
</style>
