<template>
  <div :class="$style.canDo">
      <Container>
          <h1>What Can I Do?</h1>
            <div :class="$style.canDoGrid">
                <div :class="$style.canDoCard">
                    <img src="../assets/img/webdev.webp"/>
                    <div :class="$style.canDoContent">
                    <h2>Web Development</h2>
                    <p>Making a website that has functionality and well-designed</p>
                    </div>
                </div >
                    <div :class="$style.canDoCard">
                    <img src="../assets/img/mobdev.webp"/>
                    <div :class="$style.canDoContent">
                        <h2>Mobile Development</h2>
                        <p>Creating a cross platform mobile app that can deployed on play store and app store.</p>
                    </div>
                </div>
                            <div :class="$style.canDoCard">
                    <img src="../assets/img/gd.webp"/>
                    <div :class="$style.canDoContent">
                        <h2>Graphic Design</h2>
                        <p>Creating a cross platform mobile app that can deployed on play store and app store.</p>
                    </div>
                </div>
            </div>
      </Container>
  </div>
</template>

<script>
export default {

}
</script>

<style module>
    .canDo{
        @apply h-auto  text-center py-10 bg-white
    }
    .canDo h1{
        @apply text-2xl pb-4
    }
    .canDo h2{
        @apply text-lg font-semibold
    }
    .canDoGrid{
        @apply grid grid-cols-1 gap-2 justify-between
    }
    .canDoGrid img{
        @apply text-center items-center m-auto pointer-events-none
    }
    .canDoCard{
        @apply col-span-1
    }
    .canDoContent {
        @apply m-1
    }
    @screen sm{
        .canDoGrid{
            @apply grid-cols-3  
        }
    }
    @screen lg{
        .canDoGrid{
            @apply grid-cols-3
        }
    }
</style>