<template>
  <div :class="$style.contact">
    <div :class="$style.contactContainer">
      <p>{{message}}</p>
      <AppButton btn-style="primary" @click="contactForm = true">Message Us</AppButton>
    </div>
     <ContactForm v-if="contactForm" @onClose="onClose" />
  </div>
</template>
<style module>
  .contact {
    @apply h-auto 
  }
  .contactContainer{
    @apply text-center py-6 px-3
  }
  .contactContainer p {
    @apply text-lg my-6 text-white
  }
</style>
<script>
export default {
    props: {
        message: { required: true },
    },
    data(){
      return {
        contactForm: false
      }
    },
    methods: {
      onClose(value) {
        this.contactForm = value;
      },
    },
}
</script>
