<template>
  	  <AppModal>
      <h6 slot="header">Message</h6>
      <div slot="body">
        <AppInput control-type="text"  v-model.trim="$v.contact.name.$model" :design="{'error': $v.contact.name.$error}">Full Name</AppInput>
        <div v-if="$v.contact.name.$dirty">
			 <div :class="$style.error" v-if="!$v.contact.name.required">Name is required</div>
			 <div :class="$style.error" v-if="!$v.contact.name.minLength">Name must have at least {{$v.contact.name.$params.minLength.min}} letters.</div>
		</div>
     <AppInput control-type="text"  v-model.trim="$v.contact.subject.$model" :design="{'error': $v.contact.subject.$error}">Subject</AppInput>
        <div v-if="$v.contact.subject.$dirty">
			 <div :class="$style.error" v-if="!$v.contact.subject.required">Subject is required</div>
			 <div :class="$style.error" v-if="!$v.contact.subject.minLength">Subject must have at least {{$v.contact.subject.$params.minLength.min}} letters.</div>
		</div>
        <AppInput control-type="email" v-model.trim="$v.contact.email.$model" :design="{'error': $v.contact.email.$error}">Email Address</AppInput>
        <div v-if="$v.contact.email.$dirty">
        	<div :class="$style.error" v-if="!$v.contact.email.required">Email is required</div>
			 <div :class="$style.error" v-if="!$v.contact.email.email">Email is invalid</div>
		  </div>
         <wysiwyg v-model.trim="$v.contact.content.$model" class="form-control"></wysiwyg>
         <div v-if="$v.contact.content.$dirty">
        	<div :class="$style.error" v-if="!$v.contact.content.required">Message is required</div>
			  <div :class="$style.error" v-if="!$v.contact.content.minLength">Message must have at least {{$v.contact.content.$params.minLength.min}} letters.</div>
		</div>
      </div>
      <div slot="footer">
        <AppButton @click="onClose">Close</AppButton>
        <AppButton btn-style="primary" @click="writeMessage" :disabled="$v.contact.$invalid">Send</AppButton>
      </div>
    </AppModal>
</template>
<style scoped>
.editr{
  height: 400px
}
</style>
<style module>
  .error {
    @apply text-red-500
  }
</style>
<script>
import { required, minLength, email } from 'vuelidate/lib/validators'
export default {
		 validations: {
		 	contact:{
		 			name:{
		 				required,
		 				minLength: minLength(6)
		 			},
		 			email:{
		 				required,
		 				email
           },
           subject:{
             required,
		 				minLength: minLength(6)
           },
		 			content:{
		 				required,
		 				minLength: minLength(20)
		 			}
		 	},

  		},
		data(){
			return{
			  contact:{
			      name:'',
            email: '',
            subject: '',
			      content:''
			  }
			}
    },
    methods: {
        onClose(){
          this.contact = {
                name:'',
                email: '',
                message:''
              };
          this.$v.$reset();
          this.$emit('onClose', false);
        },
        writeMessage(){
          this.$v.$touch()
          if(this.$v.$invalid){
          }else{
            this.$store.commit("validate", 'Thanks for your submission!');
            this.$store.dispatch('addMessage', {...this.contact});
            this.onClose();
          }
        },
    }
}
</script>
