<template>
<div>
  	<footer :class="$style.footer">
      <h6>Copyright © {{year}} | All Rights Reserved</h6>
	</footer>
</div>
</template>
<script>
	export default {
		data(){
			return {
        custom: this.$store.state.customdata,
        year: new Date().getFullYear()
			}
		},
		methods:{
			 scrollToTop() {
                window.scrollTo(0,0);
             }
		},
		mounted(){

		}
	}
</script>
<style module>
.footer{
    padding-top: 20px;
    padding-bottom: 60px;
	padding: 0 5vw;
	@apply relative bg-white text-gray-800
}
.footer h6{
	@apply text-center p-5 m-0
}


</style>
