<template>
	<div>
		<div :class="$style.mainHead">
		</div>
	</div>
</template>
<style module>
	.mainHead{
		@apply bg-gray-900 h-3/6 w-full
	}
</style>
<script>
	export default {
			computed: {
				about(){
					return this.$store.state.customdata
				}
			}

	}
</script>
