<template>
		<div :class="$style.mainHead" :style="{height: height + 'vh'}">
			<client-only>
         <Header slot="placeholder"/>
				<div v-if="typer">
					<div :class="$style.title1">
					<h1>{{title}}</h1>
    					<vue-typer
    					:text="custom.position"
    					:repeat="Infinity"
    					erase-style='backspace'
    					:erase-delay='100'
    					>
    					</vue-typer>
	 			</div>
				</div>
	 			<div v-else>
					 <header>
						 <div :class="$style.siteTitle">
							 <h1>{{title}}</h1>
							 <p>{{subtitle}}</p>
						 </div>
					 </header>
	 			</div>
			</client-only>
		</div>
</template>
<style>
	.vue-typer {
	  @apply text-3xl
	}
	.vue-typer .custom.char.typed{
		@apply text-gray-300 !important;
	}
	.vue-typer .custom.caret{
		@apply bg-gray-100
	}
	@media (max-width: 767px){
		.vue-typer {
			@apply text-3xl
		}
		.vue-typer .custom.char.typed{
		    @apply text-gray-900 !important
	}
	}
</style>
<style module>
.siteTitle{
	@apply pt-24 pb-24 text-center text-white
}
@screen sm {
	.siteTitle{
		@apply pt-32 pb-32
	}
	.siteTitle h1{
		@apply text-6xl
	}
	.siteTitle p {
	@apply text-xl
	}
}
.siteTitle h1{
	@apply text-3xl
}
.siteTitle p {
	@apply text-base
}
.mainHead{
  @apply relative
}
.title1, .title2{
	@apply text-center text-white
}
.title1{
	right: 15%;
	top: 30%;
	@apply absolute
}
.title1 h1{
	@apply my-4 text-5xl
}
.title2{
  top: 30%;
	@apply absolute right-0 left-0
}
.title2 h1 {
  @apply text-5xl
}
@media (max-width: 1200px){
  .title1{
    right: 5%;
  }
}
@media (min-width: 1900px){
  .title1{
    right: 25%;
  }
}
@media (max-width: 1023px){
  .title1{
    right: 5%;
  }
}
@media (max-width: 767px){
	.title1{
		@apply hidden
	}
}
</style>

<script>
import Header from '@/components/Header'
	export default {
		components:{
			Header
		},
		props:{
			height:{
				type: Number,
				default: 35
			},
			title:String,
			subtitle: String,
			typer:{
				type:Boolean,
				default: false
			}
		},
		computed:{
        custom(){
          return this.$store.state.customdata
        },
    },
	}

</script>
