<template>
    	<div :class="[$style.header, toWhite]">
              <nuxt-link to="/" :class="$style.headerLogo">
    <Logo/>
    </nuxt-link>
    <div :class="[$style.menu, activeClass]" @click="changeVisibility()">
      <span :class="$style.menuItem"></span>
      <span :class="$style.menuItem"></span>
      <span :class="$style.menuItem"></span>
    </div>
    <nav :class="[$style.navWrap, openClass ]" @click="burgerVisibility = false">
      <ul :class="$style.navList" @click="burgerVisibility = false">
        <li :class="$style.navItem" v-for="(link, i) in links" :key="i">
          <nuxt-link :to="link.target" :class="$style.navLink">{{link.name}}</nuxt-link>
          </li>
      </ul>
    </nav>
  </div>
</template>
<script>
import Logo from '@/assets/logo.svg?inline';
  export default {
    props:{
      noScrollEffect: {
        type: Boolean,
        default: false
      }
    },
    components: {
    Logo
  },
    data(){
      return{
        links: [
        {name: 'Blogs', target: '/blogs'},
        // {name: 'Labs', target: '/labs'},
        {name: 'Projects', target: '/projects'},
        {name: 'Uses', target: '/uses'},
        ],
        burgerVisibility: false,
        color: this.$store.state.customdata.headerColor,
        scrolled: false,
        menuActive: false
      }
    },
    computed:{
      activeClass(){
       return this.burgerVisibility ? this.$style.active : null
      },
      openClass(){
       return this.burgerVisibility ? this.$style.open : null
      },
      toWhite(){
        console.log(this.toTransparent)
        return  this.noScrollEffect ? this.$style.down : null;
      }
    },
    methods: {
    changeVisibility() {
      this.burgerVisibility = !this.burgerVisibility;
    },
  menuToggle(){
    this.menuActive = !this.menuActive;
  },
  colorAttr(){
    return this.menuActive ? this.color : '#fff'
  }
},
mounted(){
  if(!this.noScrollEffect){
      this.$nextTick(function(){
        const self = this;
        window.addEventListener("scroll", function(){
              var navbar = document.getElementsByClassName(self.$style.header)[0];
              var nav_classes = navbar.classList;
              if(document.documentElement.scrollTop >= 150) {
                if (nav_classes.contains(self.$style.down) === false) {
                  nav_classes.toggle(self.$style.down);
                }
              }
              else {
                if (nav_classes.contains(self.$style.down) === true) {
                  nav_classes.toggle(self.$style.down);
                }
              }
            })
          })
  }
}
}
</script>
<style module>
.down {
   @apply shadow bg-white !important
}
.down .navLink{
    @apply text-gray-900
}
.down .navLink.mkf-eal.mkf-al{
    @apply font-bold
}
.down .menuItem{
  @apply bg-gray-900
}
.header {
   @apply flex fixed w-full items-center z-10 h-20 bg-transparent
}
.navLink.mkf-eal.mkf-al{
  @apply font-bold
}
 .headerLogo {
   @apply z-50 ml-5
}
 .navWrap {
   @apply h-full ml-auto
}
.navWrap.open {
	 @apply block
}
.navList {
   @apply m-0 p-0 h-full list-none
}
.navLink {
   @apply relative inline-block no-underline text-white
}
 .menuItem:nth-of-type(1) {
   top: 7px;
}
 .menuItem:nth-of-type(2) {
	 top: 17px;
}
 .menuItem:nth-of-type(3) {
	 bottom: 8px;
}
 .menu.active .menuItem:nth-of-type(1) {
	 -moz-transform: translateY(10px) rotate(-45deg);
	 -webkit-transform: translateY(10px) rotate(-45deg);
	 transform: translateY(10px) rotate(-45deg);
	 @apply bg-gray-900
}
 .menu.active .menuItem:nth-of-type(2) {
   @apply duration-0 opacity-0
}
 .menu.active .menuItem:nth-of-type(3) {
	 -moz-transform: translateY(-10px) rotate(45deg);
	 -webkit-transform: translateY(-10px) rotate(45deg);
	 transform: translateY(-10px) rotate(45deg);
   @apply bg-gray-900
}
@media screen and (max-width: 767px) {
    .open .navItem .navLink{
      @apply text-gray-800
    }
	 .navWrap {
     @apply fixed top-0 hidden z-10 bg-gray-900 bg-opacity-50 transition duration-300 ease-in-out h-full w-full
    }
    .navList {
      @apply h-auto relative overflow-x-hidden overflow-y-auto pt-16 bg-white
    }
    .navItem {
      @apply block my-0 mx-auto p-8 text-center
    }
    .menu {
      @apply ml-auto mr-6 z-20 relative w-12 h-10 flex justify-center cursor-pointer mb-1
    }
    .menuItem {
      @apply inline-block transition duration-300 ease-in-out absolute w-10 h-1 bg-white border rounded
    }
}
@screen lg {
	.navWrap {
     @apply inline-block
  }
  .menu {
     @apply hidden
	}
}
 @screen md {
	.navList {
     @apply flex text-center
  }
  .navItem {
     @apply inline-block p-7 text-lg
	}
}
</style>
