<template>
  <div>
    <!-- <header :class="$style.postHeader" :style="{ 'background-image': 'url(' + post.image + ')' }">
			<div :class="$style.overlay"></div>
			<div :class="$style.postTitle"><h1>{{post.title}}</h1></div>
		</header>
			<div :class="$style.postContent">
				<div :class="$style.postText" v-html="post.body" @copy="onCopy"></div>
			</div> -->
    <header>
      <div
        :class="[$style.section, $style.sectionImg]"
        :style="{
          'background-image':
            'linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(' +
            post.image +
            ')'
        }"
      >
        <div :class="$style.sectionContainer">
          <div :class="$style.postHero">
            <div :class="$style.postHeroContent">
               <div :class="$style.platformContainer">
                          <div :class="$style.platform"
                      v-for="(plat, ip) in post.platform"
                      :key="ip"
                    >
                      #{{ plat.name }}
                    </div>
               </div>
              <h1>
                {{ post.title }}
              </h1>
            </div>
          </div>
        </div>
        <div :class="$style.tags">
          <!-- <h6>Platform:</h6>
          <div :class="$style.platformContainer">
            <div
              :class="$style.platformText"
              v-for="(plat, ip) in post.platform"
              :key="ip"
            >
              {{ plat.name }}
            </div>
          </div> -->
          <h6>Uses:</h6>
          <div :class="$style.platformContainer">
            <div :class="$style.platformText" v-for="(t, i) in post.tool" :key="i">
              <p>{{t.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section :class="[$style.postContent, $style.section]">
      <div :class="[$style.sectionContainer, $style.sectionLight]">
        <div :class="$style.postWrapper">
          <div :class="$style.postWrapperContent">
            <div v-html="post.body" @copy="onCopy"></div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<style module>
.platform{
  @apply text-gray-500 font-bold
}
.platformContainer {
  @apply flex flex-wrap gap-4 justify-center my-5;
}
.platformText {
  @apply border-gray-100 px-2 py-1 border rounded-full text-xs font-semibold cursor-pointer;
  &:hover {
    @apply text-gray-700 bg-white;
  }
}
.section {
  @apply pt-56 py-20;
}
.sectionImg {
  @apply bg-center bg-no-repeat bg-cover;
}
.sectionContainer {
  @apply relative w-full max-w-6xl mx-auto;
}
.sectionLight {
  @apply bg-white;
}
.sectionContainer::before {
  background-color: inherit;
  content: "";
  margin-top: -70px;
  @apply w-full top-0 left-0 absolute h-20;
}
.postHero {
  @apply justify-center text-center mb-16 pb-0 flex-row;
}
.postHeroContent {
  @apply flex flex-col justify-center text-white;
}
.tags {
  @apply flex flex-col text-white text-center;
}
.postHeroContent h1 {
  @apply text-3xl;
}
.postContent {
  @apply p-0 bg-gray-200;
}
.postWrapper {
  @apply flex items-start flex-row-reverse min-h-screen;
}
.postWrapperContent {
  @apply w-full py-6 px-10 text-justify;
}
@screen md {
  .postWrapperContent {
    @apply px-24;
  }
  .postHeroContent h1 {
    @apply text-4xl;
  }
  .platformText {
    @apply text-sm px-4 py-2;
  }
}
/* .postHeader {
  @apply max-w-full h-screen bg-no-repeat bg-cover bg-center;
}
.postTitle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @apply text-5xl text-white absolute text-center;
}
.overlay {
  @apply absolute bg-black opacity-75 top-0 left-0 right-0 bottom-0;
}
.postContent {
  @apply bg-white my-0 mx-auto;
}
.postText {
  @apply text-justify text-gray-700 py-8 px-5;
}
@screen md {
  .postText {
    @apply py-8 px-40;
  }
} */
</style>
<script>
export default {
  props: {
    post: Object
  },

  methods: {
    onCopy(e) {
      e.preventDefault();
      return false;
    }
  }
};
</script>
