<template>
  <main :class="$style.posts">
    <Container>
      <header :class="$style.title">
        <h1>
          Projects
        </h1>
        <p>
          My collection of personal projects that I learned and worked on
        </p>
      </header>
      <tabs>
        <tab v-for="(project, index) in posts" :key="index" :name="project.tabName" :selected="index == 0 ? true : false">
          <div :class="$style.postList" v-for="(post, jindex) in project.projects" :key="jindex">
            <nuxt-link
              :to="{ name: linkName, params: { slug: post.slug } }"
              :class="$style.postLink"
            >
              <div :class="$style.post">
                <div
                  :class="$style.postImage"
                  :style="{ 'background-image': 'url(' + post.image + ')' }"
                ></div>
                <div :class="$style.postContent">
                  <div :class="$style.platformContainer">
                    <div :class="$style.platformText" v-for="(plat, ip) in post.platform" :key="ip">{{plat.name}}</div>
                  </div>
                  <header :class="$style.postTitle">
                    <div>{{ post.title }}</div>
                  </header>
                  <div :class="$style.postText">
                    <div v-if="hasDesc">{{ post.desc }}</div>
                    <div v-else>{{ post.body | truncate(50, "") }}</div>
                  </div>
                  <div>
                    <div :class="$style.toolContainer">
                      <div :class="$style.tool" v-for="(t, i) in post.tool" :key="i">
                      <div :class='$style.hasTooltip' >
                        <span :class='[$style.tooltip, $style.tooltipColor]'>{{t.name}}</span>
                        <img :src="t.url" width="20" />
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nuxt-link>
          </div>
        </tab>
      </tabs>
    </Container>
  </main>
</template>
<script>
export default {
  props: {
    posts: {
      type: Array,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    hasDesc: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    linkName() {
      return this.name + "-slug";
    },
  },
  methods: {},
  filters: {
    truncate: function (text, length, suffix) {
      return text.substring(0, length) + suffix;
    },
  },
};
</script>
<style module>
.postLink {
  @apply no-underline w-11/12;
}
.postList {
  @apply inline-block py-10 px-4 w-full;
}
.posts {
  @apply flex bg-white relative px-16 py-20;
  flex-grow: 1;
  min-height: 1170px;
}
.posts .title{
  @apply h-40 py-8
}
.posts .title h1{
  @apply text-5xl
}
.postImage {
  @apply bg-cover bg-center max-w-full h-48;
}
.post {
  @apply w-full bg-white rounded shadow flex flex-col overflow-hidden transition delay-75 duration-300 ease-in-out h-auto;
}
.post:hover {
  @apply transform scale-105;
}
.postContent {
  @apply bg-white px-5 pt-2 pb-4;
}
.postTitle {
  @apply text-gray-900 text-lg font-bold py-2;
}
.postTitle h2 {
  @apply text-2xl font-bold;
}
.postText {
  @apply text-gray-900 py-1 text-sm;
}
@screen md {
    .postList {
      @apply w-1/2;
    }
}
@screen lg {
  .postList {
    @apply w-1/3;
  }
}
.tool {
  @apply mx-1;
}
.platformText {
  @apply border-gray-300 px-2 py-1 mr-1 my-1 border rounded-full text-xs text-gray-600 font-semibold;
  &:hover {
    @apply text-gray-700 border-gray-400;
  }
}
.platformContainer {
  @apply flex py-2;
}
.toolContainer {
  @apply flex my-2;
}
.tooltip {
  @apply invisible absolute;
}
.hasTooltip:hover .tooltip{
  @apply visible z-50 text-xs px-2 py-1
}
.tooltipColor{
  @apply rounded shadow-lg bg-gray-700 -mt-7 text-white
}
</style>
