<template>
  	<div :class="$style.footer">
    					<div :class="$style.socialLink">
                <fa v-for="(s, i) in sl" :key="i" :icon="{ prefix: 'fab', iconName: s.name }" :color="s.color" @click="redirect(s.link, s.name)"/>
    					</div>
    			</div>
</template>
<style module>
  .footer{
		@apply p-2
  }
  .socialLink svg {
    @apply cursor-pointer text-3xl m-2
  }
</style>
<script>
export default {
  data(){
    return {
      sl: [
        {
          name: 'facebook',
          link: 'facebook.com/mkf06',
          color: '#4267B2'
        },
        //    {
        //   name: 'twitter',
        //   link: 'twitter.com/marckevinflores'
        // },
        //    {
        //   name: 'instagram',
        //   link: 'instagram.com/marckevinflores'
        // },
           {
          name: 'linkedin',
          link: 'linkedin.com/in/marckevinflores',
          color: '#2867B2'
        },
           {
          name: 'github',
          link: 'github.com/marckevinflores',
          color: '#171515'
        },
      ]
    }
  },
  methods:{
    	redirect(url, name){
      url = `https://${url}`;
			this.$store.dispatch('addPeek', name);
			window.open(url, '_blank');
		},
  }
}
</script>
