<template>
  <div class="quote">
    <Container>
      <h2>People Who Say To Me</h2>
    <div
      class="swiper"
      v-swiper:myDirectiveSwiper="swiperOptions">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="(t, i) in allTestimonial" :key="i">
          <div class="say">
            <h5>{{t.say}}</h5>
            <div class="person">
               <h6>
                 <div><b>{{t.name}}</b></div>
                 <div>{{t.position}}</div>
                 {{t.remark}}
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-white" slot="pagination"></div>
    </div>
    </Container>
  </div>
</template>

<script>
  export default {
    name: 'swiper-nuxt',
    computed:{
      allTestimonial(){
         const arr = []
        const allWork = this.$store.state.testimonials
        allWork.forEach(t=>{
           arr.push({...t})
       })
        return arr
      }
    },
    data () {
      return {
        swiperOptions: {
          loop: true,
          slidesPerView: 'auto',
          centeredSlides: true,
          spaceBetween: 30,
          autoplay: {
            delay: 4000,
            disableOnInteraction: true
          },
          speed: 800,
          grabCursor: true
        }
      }
    }
  }
</script>

<style scoped>
.say {
  @apply text-2xl w-3/4
}
.person {
  @apply text-sm my-10
}
  .quote {
    @apply text-center text-white h-auto
  }
  .quote h2 {
    @apply text-3xl pb-12 pt-10
  }
  .quote .swiper {
      @apply h-auto w-full
    }
    .quote .swiper .swiper-slide {
        @apply text-center text-lg flex justify-center items-center text-white
      }
</style>
