<template>
  <button
    :class="buttonStyle"
    v-bind="$attrs"
    v-on="$listeners" :disabled="disabled"><slot /></button>
</template>

<script>
export default {
  name: 'AppButton',
  props: {
    disabled: {
      type:Boolean,
      default: false
    },
    btnStyle: {
      type: String,
      default: ''
    }
  },
  computed: {
    buttonStyle(){
      switch(this.btnStyle){
        case 'primary':
          return this.$style.primary;
        default: return this.$style.default;
      }
    }
  }
}
</script>
<style scoped module>
button, a{
  @apply no-underline border-none rounded inline-block tracking-wider p-3 outline-none uppercase text-sm
}
button[disabled]{
  @apply opacity-50
}
.primary{
  @apply bg-blue-500 text-white
}
.primary:hover {
  @apply bg-blue-600
}
.default{
  @apply bg-gray-100 text-gray-900
}
</style>
