<template>
  <div :class="$style.inputControl">
    <label><slot /></label>
    <div v-for="type in types" :key="type">
       <input :class="design" :type="type" v-if="controlType === type" :value="value" @input="$emit('input', $event.target.value)" :disabled="disabled == 1 ? true : false">
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppInput',
  props: {
    disabled:{
      type: Number,
      default: 0
    },
    design: {
      default: ''
    },
    controlType: {
      type: String,
      default: 'text'
    },
    value: {
      default: ''
    }
  },
  data(){
    return {
      types:['text', 'number', 'password', 'email' ,'radio']
    }
  }
}
</script>

<style scoped module>

.inputControl {
  @apply my-3 mx-0
}
.inputControl label {
  @apply block font-bold text-gray-900
}
.inputControl input {
    @apply rounded block w-full h-10 text-sm leading-6 text-gray-900 bg-white border-2 border-gray-200 pl-3
}
.inputControl input:focus{
    @apply border-2 border-gray-500 outline-none
}
.inputControl > textarea.error , input.error {
    @apply border-2 border-red-300
}
input:disabled {
    @apply bg-gray-100 opacity-100
}

</style>


