<template>
<div>
  <div :class="$style.modal">
  <div :class="$style.modalWrapper">
    <div :class="$style.modalMask">
      <div :class="$style.modalOverlay"></div>
    </div>
    <div :class="$style.modalContainer">  
            <div :class="$style.modalHeader">
            <slot name="header">
            </slot>
            </div>
            <div :class="$style.modalBody">
            <slot name="body">
            </slot>
            </div>
      <div :class="$style.modalFooter">
            <slot name="footer">
            </slot>
      </div>
    </div>
  </div>
</div>
</div>
</template>
<script>
	export default {
	}
</script>
<style module>
.modal {
  @apply fixed z-10 inset-0 overflow-y-auto
}
.modalOverlay{
  @apply absolute inset-0 bg-gray-900 opacity-75
}
.modalMask {
  @apply fixed inset-0 transition-opacity
}

.modalWrapper {
  @apply flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center block p-0
}

.modalContainer {
  @apply inline-block align-bottom bg-white rounded text-left overflow-hidden shadow-xl transform transition-all my-8 align-middle max-w-lg w-full
}

.modalHeader {
  @apply mt-0 p-5 bg-gray-800 text-white rounded font-semibold text-lg
}

.modalBody {
  @apply py-0 px-8 overflow-y-auto max-h-full

}
.modalFooter{
  @apply bg-gray-100 px-4 py-3 px-6 flex flex-row-reverse
}
</style>
