<template>
  <div :class="$style.inner">
      <slot></slot>
  </div>
</template>

<script>
export default {

}
</script>

<style module>
.inner{
    @apply my-0 mx-auto max-w-screen-lg w-full
}
</style>