<template>
        <div :class="$style.tabsWrap">
            <div :class="$style.tabs">
              <ul>
                <li v-for="(tab, i) in tabs" :key="i" :class="{ [styles['isActive']]: tab.isActive }">
                    <a :href="tab.href" @click="selectTab(tab)">{{ tab.name }}</a>
                </li>
              </ul>
            </div>
            <div class="tabs-details">
                <slot></slot>
            </div>
        </div>
</template>

<script>
export default {
    name: 'tabs',
    data() {
        return {
            tabs: [],
            styles: {
                'isActive': this.$style.isActive
            }
        }
    },
    created(){
        this.tabs = this.$children
    },
    methods:{
        selectTab(selectedTab) {
            this.tabs.forEach(tab => {
                tab.isActive = (tab.name == selectedTab.name);
            });
        }
    }
}
</script>
<style module>
    .tabsWrap{
        @apply w-full
    }
    .tabs{
    @apply select-none font-semibold items-stretch flex text-base justify-between overflow-hidden overflow-x-auto;
    white-space: nowrap;
    }
    .tabs ul{
    @apply items-center flex justify-around bg-transparent pt-5;
    border-bottom: 1px solid #dbdbdb;
    flex-shrink: 0;
    flex-grow: 1;
    list-style: none;
    }
    .tabs ul > li {
        @apply w-full
    }
    .tabs a {
        @apply items-center text-gray-800 flex justify-center py-2 px-4 align-top;
        border-bottom: 1px solid #dbdbdb;
    }
    .isActive a{
        @apply text-gray-800;
        border-bottom-color: rgb(31 41 55);
    }
</style>