<template >
  <div >
    <client-only>
            <Loader slot="placeholder"></Loader>
           	<Nav/>
            <div :class="$style.toast" v-if="$store.state.validate"><p :class="$style.text" v-text="$store.state.validate"></p></div>
            <client-only>
              <particles-bg :type="type" :class="$style.parallax" :color="color" num="15" :config="config"/>
            </client-only>
            <div :class="$style.siteWrapper">
            <nuxt @keydown="this.$emit('onkeydown')"/>
            </div>
            <Footer/>
		</client-only>
  
  </div>
</template>
<script>
	export default{
    data(){
      return {
        type: 'cobweb',
        color: '#ffffff',
        rainy: {
          color: '#8EB5CC',
          type: 'square'
        },
        night: {
            type: 'cobweb',
            color: '#ffffff',
        },
        config: {
        num: [1, 7],
        rps: 0.1,
        radius: [5, 40],
        life: [1.5, 3],
        v: [2, 3],
        tha: [-30, 30],
        alpha: [0.6, 0],
        scale: [0.1, 0.4],
        position: "all",
        cross: "dead",
        random: 15
      },
        value: ''
      }
    },
  head: {
    bodyAttrs: {
      //  oncontextmenu: 'return false'
    }
  },
	mounted() {
    document.onkeydown = this.onkeydown;

  },
  methods:{
    testbutton(){
      this.type = 'square';
      this.color = '#8eb5cc';
    },
     validate(){
       const value = 'I\'m sorry, the key that you press is disabled';
       this.$store.commit('validate',value)
      },
     onkeydown(e) {
      if(e.keyCode == 123){
         this.validate()
         return false;
       }
        if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
         this.validate()
         return false;
       }
       if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
         this.validate()
         return false;
       }
       if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
         this.validate()
         return false;
        }
    },
  }
	}
</script>
<style>
::-webkit-scrollbar
{
    @apply w-0
}
::-webkit-scrollbar-track-piece
{
    @apply bg-transparent
}
</style>
<style scoped module>
.siteWrapper{
	@apply flex flex-col min-h-screen
}
.parallax {
    z-index: -1!important;
    @apply fixed h-screen min-h-screen max-h-screen w-screen text-white bg-gray-900
}
.toast{
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  @apply block fixed my-0 mx-auto z-20 bg-gray-600 rounded shadow p-4 text-sm text-white
}
.text{
  @apply text-center
}
@screen md {
  .toast {
    @apply hidden
  }
}
</style>
