<template>
	<div class="msg-error">
	<div class="num">
		<div class="four-1">
			<h1>4</h1>
		</div>
	<div class="clock">
  <div class="outer-clock-face">
    <div class="marking marking-one"></div>
    <div class="marking marking-two"></div>
    <div class="marking marking-three"></div>
    <div class="marking marking-four"></div>
    <div class="inner-clock-face">
      <div class="hand hour-hand"></div>
      <div class="hand min-hand"></div>
      <div class="hand second-hand"></div>
    </div>
  </div>
</div>
<div class="four-2">
			<h1>4</h1>
		</div>
</div>
<h2>Page not found</h2>
	<div class="cup">
  <ul class="anim">
    <li class="anim"></li>
    <li class="anim"></li>
    <li class="anim"></li>
    <li class="anim"></li>
    <li class="anim"></li>
  </ul>
  <div class="plate">
  </div>
</div>
<div id="footer">

</div>
	</div>
</template>
<style scoped>
#footer{
	position: absolute;
	bottom:0;
	padding: 10px;
	width: 100%;
	background-color: #5d4037 ;
	z-index: -1
}
h2{
	margin: 0 auto;
	text-align: center;
	text-transform: capitalize;
	text-shadow: 1px 1px 2px rgba(0,0,0,.9);
}
h1{
	text-shadow: 1px 1px 2px rgba(0,0,0,.9);
}
.four-1 h1{
	position: absolute;
	top: 1%;
	left: 25%;
	font-size: 20em;
}
.four-2 h1{
	position: absolute;
	top: 1%;
	right: 25%;
	font-size: 20em;
}
.msg-error{
	/*width: 100%;*/
}


.cup {
  position: absolute;
  bottom: -7%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: #FFF2C7;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}


.cup:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
  border-radius: 50%;
  background: #421300;
  border: solid 7px #FFF2C7;
  box-sizing: border-box;
  transform: translateY(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.cup:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30%;
  height: 120px;
  width: 90px;
  border-radius: 100%;
  background: transparent;
  border-right: solid 15px #FFF2C7;
  border-top: solid 25px #FFF2C7;
  border-bottom: solid 18px #FFF2C7;
  box-sizing: border-box;
  transform: translateY(-50%);
}

.plate {
  width: 250px;
  height: 10px;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  background: #FFF;
  position: absolute;
  top: 155px;
  transform: translateX(-50px);
  box-shadow: 4px 4px 10px (0, 0, 0, 0.5);
}

ul.anim {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -50px;
  transform: translateX(10%);
  width: 100%;
}

ul li.anim {
  list-style-type: none;
  width: 2px;
  height: 40px;
  background: #FFF;
  float: left;
  margin: 10px;
  animation: hotwaves 2s linear infinite;
}

@keyframes hotwaves {
  0% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(2px);
  }
  100% {
    transform: translateY(-80px);
    opacity: 0;
    filter: blur(5px);
  }
}

ul li:nth-child(1) {
  animation-delay: .2s;
}

ul li:nth-child(2) {
  animation-delay: .6s;
}

ul li:nth-child(3) {
  animation-delay: .1s;
}

ul li:nth-child(4) {
  animation-delay: .4s;
}

ul li:nth-child(5) {
  animation-delay: .5s;
}




.clock {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 1rem;
  box-shadow: 0 5px 5px rgba(0,0,0,0.65);
  background: #5c6bc0  ;
}

.outer-clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #fefefc;
  overflow: hidden;
}

.outer-clock-face::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg)
}

.outer-clock-face::before,
.outer-clock-face::after,
.outer-clock-face .marking{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #b8b8c5;
  z-index: 0;
  left: 49%;
}

.outer-clock-face .marking {
  background: #bdbdcb;
  width: 3px;
}

.outer-clock-face .marking.marking-one {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg)
}

.outer-clock-face .marking.marking-two {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg)
}

.outer-clock-face .marking.marking-three {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  transform: rotate(120deg)
}

.outer-clock-face .marking.marking-four {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  transform: rotate(150deg)
}

.inner-clock-face {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: #fefefc;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
}

.inner-clock-face::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 18px;
  margin-left: -9px;
  margin-top: -6px;
  background: #4d4b63;
  z-index: 11;
}

.hand {
  width: 50%;
  right: 50%;
  height: 6px;
  background: #61afff;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour-hand {
  width: 20%;
  z-index: 3;
}

.hand.min-hand {
  height: 3px;
  z-index: 10;
  width: 35%;
}

.hand.second-hand {
  background: #ff5e5e;
  width: 40%;
position: absolute;
  bottom: 0;
  top: 50%;
}
@media (max-width: 1200px) {
 	.four-1 h1{
 		top:5%;
 		left: 30%;
 		font-size: 10em;
 	}
 	.four-2 h1{
 		top:5%;
 		right: 30%;
 		font-size: 10em;
 	}
 	.clock{
 		width: 15rem;
 		height: 15rem;
 	}
}
@media (max-width: 1023px){
}
@media (max-width: 767px){
	.four-1 h1{
 		left: 0;
 	}
 	.four-2 h1{
 		right: 0;
 	}
}
</style>
<script>
	export default {
    layout: 'blank',
		mounted(){
		const secondHand = document.querySelector('.second-hand');
    const minsHand = document.querySelector('.min-hand');
    const hourHand = document.querySelector('.hour-hand');

function setDate() {
  const now = new Date();

  const seconds = now.getSeconds();
  const secondsDegrees = ((seconds / 60) * 360) + 90;
  secondHand.style.transform = `rotate(${secondsDegrees}deg)`;

  const mins = now.getMinutes();
  const minsDegrees = ((mins / 60) * 360) + ((seconds/60)*6) + 90;
  minsHand.style.transform = `rotate(${minsDegrees}deg)`;

  const hour = now.getHours();
  const hourDegrees = ((hour / 12) * 360) + ((mins/60)*30) + 90;
  hourHand.style.transform = `rotate(${hourDegrees}deg)`;
}

setInterval(setDate, 1000);

setDate();
this.$store.dispatch('addVisitor', this.$route.path);
    },
		head: {
    		bodyAttrs: {
      		style: 'background-color: #616161;color: #fff'
    	}
  }
	}
</script>
