<template>
  <div>
      <MainHeading title="My Uses" :height="20"/>
        <Container>
        <div :class="$style.containerGrid" style="color: #fff; background-color: transparent">
         <div v-for="(use, i) of uses" :key="i">
          <h4><fa :icon="use.icon" /> {{use.name}}</h4>
          <ul>
            <li v-for="(l, j) of use.list" :key="j" v-html="l"></li>
          </ul>
         </div>
        </div>
        </Container>
      </div>
</template>
<style module>
.containerGrid a {
  @apply text-blue-500
}
.containerGrid a:hover{
  @apply text-blue-600
}
.containerGrid h4{
  @apply my-5 mx-0 text-2xl
}
.containerGrid{
  @apply grid gap-1 grid-cols-1
}
@screen md{
  .containerGrid{
    @apply grid-cols-1
  }
}
</style>
<script>
export default {
  middleware: 'public',
  data(){
  	return {
				title: this.$store.state.customdata['fullName'],
				content: 'List of my uses as Developer',
        uses: [
          {
            name: 'Website',
            icon: { prefix: 'fas', iconName: 'globe' },
            list: [
              'This website is built using <a href="https://nuxtjs.org/">Nuxt.js</a> framework.',
              'About design, I did it just for myself along with <a href="https://vuejs.org/">Vue.js</a> plugins and <a href="https://tailwindcss.com/">Tailwind CSS</a>',
              'I get cool domain name in <a href="https://www.hostinger.com/">Hostinger</a> and deployed as static website on <a href="https://aws.amazon.com/s3/">Amazon S3</a>.'
            ]
          },
          {
            name: 'Editor + Terminal',
            icon: { prefix: 'fas', iconName: 'file-alt' },
            list: [
              '<a href="https://www.sublimetext.com/3">Sublime Text 3</a> is a text editor I use for text files I edit often and this is my first. it\'s very lightweight and can be portable.',
              '<a href="http://brackets.io/">Brackets</a> is a text editor that has a rich of beautiful UI, I used it to study to make a static website when I was a newbie.',
              '<a href="https://netbeans.org/">Netbeans</a> I use this IDE for my activities for <a href="https://en.wikipedia.org/wiki/Java_(programming_language)">Java</a> or <a href="https://en.wikipedia.org/wiki/Jakarta_Server_Pages">JSP</a> project when I was in college.',
              '<a href="https://www.eclipse.org/">Eclipse</a> Another IDE that I used for in my school lesson and activities.',
              '<a href="https://www.jetbrains.com/phpstorm/">PhpStorm</a> is my favorite IDE for developing a project using a <a href="https://laravel.com/">Laravel</a>. But there\'s a fee for this software, you can use a free trial.',
              '<a href="https://developer.android.com/studio">Android Studio</a> the one best IDE for developing an android app, but it was heavy for me at the time I even made a mobile app at school. sometimes it even has an error when you finish downloading. In their new version, I think this is fine now.',
              '<a href="https://visualstudio.microsoft.com/">Visual Studio 2017</a> is one of the most popular and best IDE for me because there\'s a lot of features you can do for developing. but you need a larger ram for this otherwise you need to download the lowest version.',
              '<a href="https://code.visualstudio.com/">Visual Studio Code</a> is the code editor I\'m currently using and I don\'t see anything unseating it anytime soon. It\'s incredibly extensible but still loads as quickly as a lightweight editor. There\'s nothing better available, in my opinion.'
            ]
          },
          {
            name: 'Desktop Apps',
            icon: { prefix: 'fas', iconName: 'desktop' },
            list: [
            '<a href="https://www.adobe.com/sea/products/photoshop.html">Photoshop</a> when I was a non-developer I use this for making a banner, editing for image spots, lookbook, photo booth or anything just use this.',
            '<a href="https://www.adobe.com/sea/products/illustrator.html">Illustrator</a> it is similar to Photoshop but I used it for making a great logo sometimes I even drawing before I put it to this software.',
            '<a href="https://www.postman.com/">Postman</a> is my REST API Testing sometimes I need to check if is work or not without going to the browser URL for making a request.',
            '<a href="https://desktop.github.com/">Github Desktop</a> I use this for an easy way of committing and pushing projects, but I did not stay there long.',
            '<a href="https://www.virtualbox.org/">VirtualBox</a> I use this when I need to use other Operating Systems such as Ubuntu, Kali Linux, Mac OS, or any.',
            '<a href="https://www.vmware.com/asean/products/workstation-pro.html">VMware Workstation</a> it was very lightweight than VirtualBox and it\'s fast and can use a different Operating System too.',
            '<a href="https://www.techsmith.com/screen-capture.html">Snagit</a> I use this for making a screenshot for my documentation, I used for a free trial, it is better than Snipping Tool.',
            '<a href="https://tortoisegit.org/">Git Tortoise</a> is a Windows Shell Interface to git, it is good to use without using a terminal for version control.',
            '<a href="https://anydesk.com/en">AnyDesk</a> is a remote desktop app when I need to land to another computer for user error.',
            '<a href="https://zoom.us/">Zoom</a> just for communication with other developers or anybody.',
            '<a href="https://www.simplestickynotes.com/download/">Sticky Notes</a> for remembering what I did before.'
            ]
          },
          {
            name: 'Software Version Control',
            icon: { prefix: 'fas', iconName: 'code-branch' },
            list: [
              '<a href="https://github.com/">Github</a> my first uses for creating a repository for my hobbyist project.',
              '<a href="https://bitbucket.org/">Bitbucket</a> I just collect my own project here.',
              '<a href="https://about.gitlab.com/">Gitlab</a> uses for company projects that I worked on.'
            ]
          },
          {
            name: 'System Admin Tools',
            icon: { prefix: 'fas', iconName: 'users-cog' },
            list: [
            '<a href="https://www.putty.org/">PuTTY</a> I just use this for modifying my server environment.',
            '<a href="https://filezilla-project.org/">FileZilla</a> managing my file project to the server.',
            '<a href="https://winscp.net/eng/download.php">WinSCP</a> it\'s same to FileZilla but I migrated here because of issues.'
            ]
          },
          {
            name: 'Dependency Management',
            icon: { prefix: 'fas', iconName: 'network-wired' },
            list: [
            '<a href="https://getcomposer.org/">Composer</a> the only one package manager for PHP Language.',
            '<a href="https://www.npmjs.com/">Node Package Manager</a> is a package manager for Javascript language.'
            ]
          },
          {
            name: 'Browser Extensions',
            icon: { prefix: 'fas', iconName: 'thumbtack' },
            list: [
            '<a href="https://chrome.google.com/webstore/detail/colorzilla/bhlhnicpbhignbdhedgjhgdocnmhomnp?hl=en-US">ColorZilla</a> I use it just to get the color from another website.',
            '<a href="https://chrome.google.com/webstore/detail/clear-cache/cppjkneekbjaeellbfkmgnhonkkjfpdn?hl=en-US">Clear Cache</a> when the project getting error for session.',
            '<a href="https://chrome.google.com/webstore/detail/live-editor-for-css-less/ifhikkcafabcgolfjegfcgloomalapol?hl=en-US">Magic CSS</a> a live editor for designing on browser without using a inspect element.',
            '<a href="https://chrome.google.com/webstore/detail/copy-paste-pro/epgndihjbcepnbadocaoofjnfaophlio?hl=en-US">Copy Paste Pro</a> doing cheating things when the website is blocking for copying.',
            '<a href="https://chrome.google.com/webstore/detail/grammarly-for-chrome/kbfnbcaeplbcioakkpcpgfkobkghlhen?hl=en-US">Grammarly</a> for checking my incorrect grammar anywhere in the website.'
            ]
          },
          {
            name: 'Contact',
            icon: { prefix: 'fas', iconName: 'id-card' },
            list: [
            'If you want to know about my website, you can contact me, don\'t be hesitate, I love to help people.'
            ]
          }
        ]
			}
  },
  head(){
			return {
				title: 'Uses - '+this.title,
				meta: [
        		{ hid: 'description', name: 'description', content: this.content }
     			]
			}
		}
}
</script>
