<template>
    <div >
    <MainHeading :typer="true" :title="title"/>
	  <About/>
    <Testimonial/>
    <CanDo/>
    <Contact message="If you want to message me for anonymous, urgent, hiring or any. Just click the button and fill the form."/>
    </div>
</template>

<script>
	export default{
    middleware: 'public',
    mounted(){
        // this.$store.dispatch("addVisitor", '/test');
    },
		data(){
			return {
				title: this.$store.state.customdata.fullName
			}
		},
		head(){
			return {
        title: 'Home - '+this.title,
         meta: [
          { hid: 'og:image', property: 'og:image', content: this.$store.state.customdata.picture }
        ]
			}
		}
	}
</script>

<style module>

</style>
