<template>
	<div :class="$style.siteWrapper">
		<MainHeading title="Blogs" :subtitle="content"/>
		<!-- <PostList :posts="allBlogs" name="blogs"/> -->
	</div>
</template>
<style module>
.siteWrapper{
	@apply flex flex-col min-h-screen
}
</style>
<script>
	export default {
		middleware: 'public',
		layout: 'post',
		computed:{
			allBlogs(){
			 const arr = []
        const allWork = this.$store.state.posts
        allWork.forEach(post=>{
         if(post.type === 1){
           arr.push({...post})
         }
       })
        return arr
			},
		},

		data(){
			return {
				title: this.$store.state.customdata['fullName'],
				content: 'My ideas, stories and thought that I want to share it'
			}
		},
		head(){
			return {
				title: 'Blogs - '+this.title,
				meta: [
        		{ hid: 'description', name: 'description', content: this.content }
     			]
			}
		}
	}
</script>

