<template>
	<div>
		<PostPreview :post="post"/>
	</div>
</template>
<style scoped>

</style>
<script>
	export default{
    middleware: 'public',
		props:['slug'],
		computed:{
			post(){
					return this.$store.state.post;
			}
		},
		methods:{
			getPost(){
				return this.$store.commit('getPost', this.$route.params.slug)
			}
		},
		mounted(){
		this.getPost();
		},
		head(){
			return {
        title: this.$route.params.slug.replace(/-/g, " ").replace(/\b\w/g, l => l.toUpperCase())+' - '+this.$store.state.customdata.fullName,
        meta: [
          { hid: 'og:image', property: 'og:image', content: this.post.image }
        ]
			}
		}

	}
</script>
