<template>
	<div>
		<MainHeading title="Labs" :subtitle="content"/>
		<PostList :posts="allWorks" name="labs"/>
	</div>
</template>
<script>
	export default {
    middleware: 'public',

		data(){
			return {
				title: this.$store.state.customdata['fullName'],
				content: 'My collection of experimental project that I have worked on'
			}
		},
		computed:{
			allWorks(){
        const arr = []
        const allWork = this.$store.state.posts
       allWork.forEach(post=>{
         if(post.type === 3){
           arr.push({...post})
         }
       })
        return arr
			},

		},
		head(){
			return {
				title: 'Labs - '+this.title,
				meta: [
        		{ hid: 'description', name: 'description', content: this.content }
     			]
			}
		}
	}
</script>
<style scoped>

</style>
